<!DOCTYPE html>
  <html>
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/svg/solo-tick.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  
    <title>Buddy Host</title>
  </head>
    <body>
      <section class="bg-lightBlue py-12 lg:py-20 xl:py-[100px]">
        <div class="custom_container">
          <span class="common-tag">Reviews</span>
          <h3
            class="text-3xl sm:text-4xl lg:text-[44px] text-black text-center mt-3.5 mb-2 font-LufgaBold leading-[100%]"
          >
            What Our Customers Says
          </h3>
          <p
            class="max-w-[522px] mx-auto text-center text-sm sm:text-base mb-3 sm:mb-6 xl:mb-10"
          >
            Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut
            labore et dolore aliqua. Ut enim ad minim veniam
          </p>
          <div class="relative lg:px-2 xl:px-0">
            <img
              class="hidden min-[479px]:block max-w-7 xl:max-w-none absolute left-0 xl:-translate-x-1/2 top-1/2 -translate-y-1/2 z-10 cursor-pointer custom-prev duration-300 hover:bg-black/80 rounded-full"
              src="../assets/images/svg/left-arrow.svg"
              alt="left-arrow"
            />
            <img
              class="hidden min-[479px]:block max-w-7 xl:max-w-none absolute right-0 xl:translate-x-1/2 top-1/2 -translate-y-1/2 z-10 cursor-pointer custom-next duration-300 hover:bg-black/80 rounded-full"
              src="../assets/images/svg/right-arrow.svg"
              alt="right-arrow"
            />
            <div class="slick-slider">
              <div>
                <div class="bg-white rounded-[25px] p-4 xl:p-6 relative mb-10">
                  <img
                    class="absolute bottom-1 left-7 translate-y-full"
                    src="../assets/images/svg/card-bottom-shape.svg"
                    alt="card-bottom-shape"
                  />
                  <img
                    class="mb-2 xl:mb-3.5 max-w-[90px] xl:max-w-none"
                    src="../assets/images/svg/review-star.svg"
                    alt="review-star"
                  />
                  <p class="text-sacerBrown text-sm xl:text-base">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since
                  </p>
                  <a
                    class="text-primary font-LufgaMedium underline duration-300 hover:text-secondary text-sm xl:text-base"
                    href="/"
                    >Read More</a
                  >
                </div>
                <div class="flex gap-2 xl:gap-3.5">
                  <div>
                    <img
                      class="rounded-full max-w-12 xl:max-w-[69px]"
                      src="../assets/images/png/slider-icon.png"
                      alt="user"
                    />
                  </div>
                  <div class="mt-2">
                    <h6
                      class="text-base xl:text-xl text-black font-LufgaMedium flex items-center gap-1 xl:gap-1.5 leading-[100%]"
                    >
                      Sarah Taylor
                      <img
                        class="max-w-4 xl:max-w-none"
                        src="../assets/images/svg/verified.svg"
                        alt="verified"
                      />
                    </h6>
                    <p class="text-darkGray mt-[3px] mb-2">Customer</p>
                    <img
                      class="max-w-[120px] xl:max-w-none"
                      src="../assets/images/svg/slider-company.svg"
                      alt="slider-company"
                    />
                  </div>
                </div>
              </div>
              <div>
                <div class="bg-white rounded-[25px] p-4 xl:p-6 relative mb-10">
                  <img
                    class="absolute bottom-1 left-7 translate-y-full"
                    src="../assets/images/svg/card-bottom-shape.svg"
                    alt="card-bottom-shape"
                  />
                  <img
                    class="mb-2 xl:mb-3.5 max-w-[90px] xl:max-w-none"
                    src="../assets/images/svg/review-star.svg"
                    alt="review-star"
                  />
                  <p class="text-sacerBrown text-sm xl:text-base">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since
                  </p>
                  <a
                    class="text-primary font-LufgaMedium underline duration-300 hover:text-secondary text-sm xl:text-base"
                    href="/"
                    >Read More</a
                  >
                </div>
                <div class="flex gap-2 xl:gap-3.5">
                  <div>
                    <img
                      class="rounded-full max-w-12 xl:max-w-[69px]"
                      src="../assets/images/png/slider-icon-2.png"
                      alt="user"
                    />
                  </div>
                  <div class="mt-2">
                    <h6
                      class="text-base xl:text-xl text-black font-LufgaMedium flex items-center gap-1 xl:gap-1.5 leading-[100%]"
                    >
                      Sarah Taylor
                      <img
                        class="max-w-4 xl:max-w-none"
                        src="../assets/images/svg/verified.svg"
                        alt="verified"
                      />
                    </h6>
                    <p class="text-darkGray mt-[3px] mb-2">Customer</p>
                    <img
                      class="max-w-[120px] xl:max-w-none"
                      src="../assets/images/svg/slider-company.svg"
                      alt="slider-company"
                    />
                  </div>
                </div>
              </div>
              <div>
                <div class="bg-white rounded-[25px] p-4 xl:p-6 relative mb-10">
                  <img
                    class="absolute bottom-1 left-7 translate-y-full"
                    src="../assets/images/svg/card-bottom-shape.svg"
                    alt="card-bottom-shape"
                  />
                  <img
                    class="mb-2 xl:mb-3.5 max-w-[90px] xl:max-w-none"
                    src="../assets/images/svg/review-star.svg"
                    alt="review-star"
                  />
                  <p class="text-sacerBrown text-sm xl:text-base">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since
                  </p>
                  <a
                    class="text-primary font-LufgaMedium underline duration-300 hover:text-secondary text-sm xl:text-base"
                    href="/"
                    >Read More</a
                  >
                </div>
                <div class="flex gap-2 xl:gap-3.5">
                  <div>
                    <img
                      class="rounded-full max-w-12 xl:max-w-[69px]"
                      src="../assets/images/png/slider-icon-3.png"
                      alt="user"
                    />
                  </div>
                  <div class="mt-2">
                    <h6
                      class="text-base xl:text-xl text-black font-LufgaMedium flex items-center gap-1 xl:gap-1.5 leading-[100%]"
                    >
                      Sarah Taylor
                      <img
                        class="max-w-4 xl:max-w-none"
                        src="../assets/images/svg/verified.svg"
                        alt="verified"
                      />
                    </h6>
                    <p class="text-darkGray mt-[3px] mb-2">Customer</p>
                    <img
                      class="max-w-[120px] xl:max-w-none"
                      src="../assets/images/svg/slider-company.svg"
                      alt="slider-company"
                    />
                  </div>
                </div>
              </div>
              <div>
                <div class="bg-white rounded-[25px] p-4 xl:p-6 relative mb-10">
                  <img
                    class="absolute bottom-1 left-7 translate-y-full"
                    src="../assets/images/svg/card-bottom-shape.svg"
                    alt="card-bottom-shape"
                  />
                  <img
                    class="mb-2 xl:mb-3.5 max-w-[90px] xl:max-w-none"
                    src="../assets/images/svg/review-star.svg"
                    alt="review-star"
                  />
                  <p class="text-sacerBrown text-sm xl:text-base">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since
                  </p>
                  <a
                    class="text-primary font-LufgaMedium underline duration-300 hover:text-secondary text-sm xl:text-base"
                    href="/"
                    >Read More</a
                  >
                </div>
                <div class="flex gap-2 xl:gap-3.5">
                  <div>
                    <img
                      class="rounded-full max-w-12 xl:max-w-[69px]"
                      src="../assets/images/png/slider-icon.png"
                      alt="user"
                    />
                  </div>
                  <div class="mt-2">
                    <h6
                      class="text-base xl:text-xl text-black font-LufgaMedium flex items-center gap-1 xl:gap-1.5 leading-[100%]"
                    >
                      Sarah Taylor
                      <img
                        class="max-w-4 xl:max-w-none"
                        src="../assets/images/svg/verified.svg"
                        alt="verified"
                      />
                    </h6>
                    <p class="text-darkGray mt-[3px] mb-2">Customer</p>
                    <img
                      class="max-w-[120px] xl:max-w-none"
                      src="../assets/images/svg/slider-company.svg"
                      alt="slider-company"
                    />
                  </div>
                </div>
              </div>
              <div>
                <div class="bg-white rounded-[25px] p-4 xl:p-6 relative mb-10">
                  <img
                    class="absolute bottom-1 left-7 translate-y-full"
                    src="../assets/images/svg/card-bottom-shape.svg"
                    alt="card-bottom-shape"
                  />
                  <img
                    class="mb-2 xl:mb-3.5 max-w-[90px] xl:max-w-none"
                    src="../assets/images/svg/review-star.svg"
                    alt="review-star"
                  />
                  <p class="text-sacerBrown text-sm xl:text-base">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since
                  </p>
                  <a
                    class="text-primary font-LufgaMedium underline duration-300 hover:text-secondary text-sm xl:text-base"
                    href="/"
                    >Read More</a
                  >
                </div>
                <div class="flex gap-2 xl:gap-3.5">
                  <div>
                    <img
                      class="rounded-full max-w-12 xl:max-w-[69px]"
                      src="../assets/images/png/slider-icon-2.png"
                      alt="user"
                    />
                  </div>
                  <div class="mt-2">
                    <h6
                      class="text-base xl:text-xl text-black font-LufgaMedium flex items-center gap-1 xl:gap-1.5 leading-[100%]"
                    >
                      Sarah Taylor
                      <img
                        class="max-w-4 xl:max-w-none"
                        src="../assets/images/svg/verified.svg"
                        alt="verified"
                      />
                    </h6>
                    <p class="text-darkGray mt-[3px] mb-2">Customer</p>
                    <img
                      class="max-w-[120px] xl:max-w-none"
                      src="../assets/images/svg/slider-company.svg"
                      alt="slider-company"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          // INITIALIZE SLICK SLIDER
          $(".slick-slider").slick({
            slidesToShow: 4,
            infinite: true,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            prevArrow: $(".custom-prev"),
            nextArrow: $(".custom-next"),
            dots: true,
            responsive: [
              {
                breakpoint: 1280, // MAX-WIDTH OF 1280PX
                settings: {
                  slidesToShow: 3, // SHOW 3 SLIDES
                },
              },
              {
                breakpoint: 767, // MAX-WIDTH OF 767PX
                settings: {
                  slidesToShow: 2, // SHOW 2 SLIDES
                },
              },
              {
                breakpoint: 479, // MAX-WIDTH OF 479PX
                settings: {
                  slidesToShow: 1, // SHOW 1 SLIDE
                  arrows: false,
                },
              },
            ],
          });
        </script>
      </section>
    </body>
  </html>
  
  