<!DOCTYPE html>
  <html>
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/svg/solo-tick.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  
    <title>Buddy Host</title>
  </head>
    <body>
      <section class="bg-[#22ADB114] py-12 lg:py-[70px]" id="faq">
        <div class="custom_container">
          <span class="common-tag">FAQ,s</span>
          <h3
            class="text-3xl sm:text-4xl lg:text-[44px] text-black text-center mt-3.5 mb-2.5 font-LufgaBold leading-[100%]"
          >
            Frequently Asked Questions
          </h3>
          <p class="max-w-[522px] mx-auto text-center text-sm sm:text-base">
            Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut
            labore et dolore aliqua. Ut enim ad minim veniam
          </p>
          <div
            class="flex flex-col gap-5 max-w-[757px] mx-auto mt-4 sm:mt-8 lg:mt-[50px]"
          >
            <div
              class="accordion-item duration-300 p-3 sm:px-4 sm:py-6 cursor-pointer text-black bg-white overflow-hidden rounded-lg sm:rounded-[10px]"
              aria-expanded="false"
              aria-controls="faqs-text-0"
            >
              <div class="accordion-button flex justify-between items-center">
                <p
                  class="text-base sm:text-lg leading-[100%] question-text font-LufgaSemiBold max-w-[90%]"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div
                  class="faq-icon w-6 sm:w-[35px] h-6 sm:h-[35px] bg-white rounded-lg sm:rounded:[10px] flex items-center justify-center"
                >
                  <img
                    class="plus-icon max-w-5 sm:max-w-none"
                    src="../assets/images/svg/plus.svg"
                    alt="plus"
                  />
                  <img
                    class="minus-icon hidden max-w-5 sm:max-w-none"
                    src="../assets/images/svg/minus.svg"
                    alt="minus"
                  />
                </div>
              </div>
              <div
                id="faqs-text-0"
                class="accordion-content text-sm sm:max-w-[90%] text-white grid duration-300 closed"
                role="region"
                aria-labelledby="faqs-title-0"
              >
                <p class="overflow-hidden">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                  id placerat turpis. Quisque consectetur mattis ullamcorper.
                  Integer convallis odio risus, eget elementum velit sodales at.
                  Aliquam eget lectus nisl. Integer eget sodales elit, et placerat
                  felis. Curabitur et tincidunt orci, in sollicitudin urna. Nunc
                  at enim libero.
                </p>
              </div>
            </div>
            <div
              class="accordion-item duration-300 p-3 sm:px-4 sm:py-6 cursor-pointer text-black bg-white overflow-hidden rounded-lg sm:rounded-[10px]"
              aria-expanded="false"
              aria-controls="faqs-text-1"
            >
              <div class="accordion-button flex justify-between items-center">
                <p
                  class="text-base sm:text-lg leading-[100%] question-text font-LufgaSemiBold"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div
                  class="faq-icon w-6 sm:w-[35px] h-6 sm:h-[35px] bg-white rounded-lg sm:rounded:[10px] flex items-center justify-center"
                >
                  <img
                    class="plus-icon max-w-5 sm:max-w-none"
                    src="../assets/images/svg/plus.svg"
                    alt="plus"
                  />
                  <img
                    class="minus-icon hidden max-w-5 sm:max-w-none"
                    src="../assets/images/svg/minus.svg"
                    alt="minus"
                  />
                </div>
              </div>
              <div
                id="faqs-text-1"
                class="accordion-content text-sm sm:max-w-[90%] text-white grid duration-300 closed"
                role="region"
                aria-labelledby="faqs-title-1"
              >
                <p class="overflow-hidden">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                  id placerat turpis. Quisque consectetur mattis ullamcorper.
                  Integer convallis odio risus, eget elementum velit sodales at.
                  Aliquam eget lectus nisl. Integer eget sodales elit, et placerat
                  felis. Curabitur et tincidunt orci, in sollicitudin urna. Nunc
                  at enim libero.
                </p>
              </div>
            </div>
            <div
              class="accordion-item duration-300 p-3 sm:px-4 sm:py-6 cursor-pointer text-black bg-white overflow-hidden rounded-lg sm:rounded-[10px]"
              aria-expanded="false"
              aria-controls="faqs-text-2"
            >
              <div class="accordion-button flex justify-between items-center">
                <p
                  class="text-base sm:text-lg leading-[100%] question-text font-LufgaSemiBold"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div
                  class="faq-icon w-6 sm:w-[35px] h-6 sm:h-[35px] bg-white rounded-lg sm:rounded:[10px] flex items-center justify-center"
                >
                  <img
                    class="plus-icon max-w-5 sm:max-w-none"
                    src="../assets/images/svg/plus.svg"
                    alt="plus"
                  />
                  <img
                    class="minus-icon hidden max-w-5 sm:max-w-none"
                    src="../assets/images/svg/minus.svg"
                    alt="minus"
                  />
                </div>
              </div>
              <div
                id="faqs-text-2"
                class="accordion-content text-sm sm:max-w-[90%] text-white grid duration-300 closed"
                role="region"
                aria-labelledby="faqs-title-2"
              >
                <p class="overflow-hidden">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                  id placerat turpis. Quisque consectetur mattis ullamcorper.
                  Integer convallis odio risus, eget elementum velit sodales at.
                  Aliquam eget lectus nisl. Integer eget sodales elit, et placerat
                  felis. Curabitur et tincidunt orci, in sollicitudin urna. Nunc
                  at enim libero.
                </p>
              </div>
            </div>
            <div
              class="accordion-item duration-300 p-3 sm:px-4 sm:py-6 cursor-pointer text-black bg-white overflow-hidden rounded-lg sm:rounded-[10px]"
              aria-expanded="false"
              aria-controls="faqs-text-3"
            >
              <div class="accordion-button flex justify-between items-center">
                <p
                  class="text-base sm:text-lg leading-[100%] question-text font-LufgaSemiBold"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div
                  class="faq-icon w-6 sm:w-[35px] h-6 sm:h-[35px] bg-white rounded-lg sm:rounded:[10px] flex items-center justify-center"
                >
                  <img
                    class="plus-icon max-w-5 sm:max-w-none"
                    src="../assets/images/svg/plus.svg"
                    alt="plus"
                  />
                  <img
                    class="minus-icon hidden max-w-5 sm:max-w-none"
                    src="../assets/images/svg/minus.svg"
                    alt="minus"
                  />
                </div>
              </div>
              <div
                id="faqs-text-3"
                class="accordion-content text-sm sm:max-w-[90%] text-white grid duration-300 closed"
                role="region"
                aria-labelledby="faqs-title-3"
              >
                <p class="overflow-hidden">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                  id placerat turpis. Quisque consectetur mattis ullamcorper.
                  Integer convallis odio risus, eget elementum velit sodales at.
                  Aliquam eget lectus nisl. Integer eget sodales elit, et placerat
                  felis. Curabitur et tincidunt orci, in sollicitudin urna. Nunc
                  at enim libero.
                </p>
              </div>
            </div>
            <div
              class="accordion-item duration-300 p-3 sm:px-4 sm:py-6 cursor-pointer text-black bg-white overflow-hidden rounded-lg sm:rounded-[10px]"
              aria-expanded="false"
              aria-controls="faqs-text-4"
            >
              <div class="accordion-button flex justify-between items-center">
                <p
                  class="text-base sm:text-lg leading-[100%] question-text font-LufgaSemiBold"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div
                  class="faq-icon w-6 sm:w-[35px] h-6 sm:h-[35px] bg-white rounded-lg sm:rounded:[10px] flex items-center justify-center"
                >
                  <img
                    class="plus-icon max-w-5 sm:max-w-none"
                    src="../assets/images/svg/plus.svg"
                    alt="plus"
                  />
                  <img
                    class="minus-icon hidden max-w-5 sm:max-w-none"
                    src="../assets/images/svg/minus.svg"
                    alt="minus"
                  />
                </div>
              </div>
              <div
                id="faqs-text-4"
                class="accordion-content text-sm sm:max-w-[90%] text-white grid duration-300 closed"
                role="region"
                aria-labelledby="faqs-title-4"
              >
                <p class="overflow-hidden">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                  id placerat turpis. Quisque consectetur mattis ullamcorper.
                  Integer convallis odio risus, eget elementum velit sodales at.
                  Aliquam eget lectus nisl. Integer eget sodales elit, et placerat
                  felis. Curabitur et tincidunt orci, in sollicitudin urna. Nunc
                  at enim libero.
                </p>
              </div>
            </div>
          </div>
        </div>
        <script>
          // ACCORDION FUNCTIONALITY
          document
            .querySelectorAll(".accordion-item")
            .forEach((header, index) => {
              header.addEventListener("click", () => {
                const content = document.getElementById(`faqs-text-${index}`);
                const isExpanded =
                  header.getAttribute("aria-expanded") === "true";
    
                document
                  .querySelectorAll(".accordion-content")
                  .forEach((item) => {
                    item.classList.remove("open");
                    item.classList.add("closed");
                  });
                document.querySelectorAll(".accordion-item").forEach((item) => {
                  item.setAttribute("aria-expanded", "false");
                  item
                    .querySelector(".faq-icon")
                    .classList.remove("faq-icon-changed");
                  item.classList.remove("active");
                });
    
                if (!isExpanded) {
                  content.classList.remove("closed");
                  content.classList.add("open");
                  header.setAttribute("aria-expanded", "true");
                  header
                    .querySelector(".faq-icon")
                    .classList.add("faq-icon-changed");
                  header.classList.add("active");
                }
              });
            });
        </script>
      </section>
    
    </body>
  </html>
  
  