<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/svg/solo-tick.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>Buddy Host</title>
  </head>
  <body>
    <section class="py-12 lg:py-20 xl:py-[100px]" id="pricing">
      <div class="custom_container">
        <span class="common-tag">Plans</span>
        <h3
          class="text-3xl sm:text-4xl lg:text-[44px] text-black text-center mt-3.5 mb-2.5 font-LufgaBold leading-[100%]"
        >
          Pricing Plan
        </h3>
        <p class="max-w-[522px] mx-auto text-center text-sm sm:text-base">
          Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut
          labore et dolore aliqua. Ut enim ad minim veniam
        </p>
        <div
          class="flex justify-center w-fit mx-auto bg-liquidNitrogen p-[7px] rounded-[110px] mt-4 md:mt-6 mb-6 lg:mb-16 xl:mb-[82px]"
        >
          <button
            id="monthly"
            class="bg-transparent text-sm xl:text-base font-LufgaRegular text-black/80 w-[112px] h-[46px] rounded-[110px]"
          >
            Monthly
          </button>
          <button
            id="yearly"
            class="bg-primary text-white text-base font-LufgaSemiBold w-[112px] h-[46px] rounded-[110px]"
          >
            Yearly
          </button>
        </div>
        <div
          class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-5 lg:gap-3 xl:gap-4"
          id="yearly-content"
        >
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/free-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Free
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $0<span class="text-sm xl:text-base font-LufgaRegular"
                    >per year</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $0 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                Perfect for college and Schools
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    1 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    15 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    2000 visitors
                    <span class="text-xs font-LufgaRegular">/year</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-secondary hover:text-secondary hover:bg-transparent w-full bg-secondary rounded-full mt-5 xl:mt-7"
            >
              Get Free
            </button>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/tiny-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Tiny
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $5<span class="text-sm xl:text-base font-LufgaRegular"
                    >per year</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $60 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                Perfect for single professional link.
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    1 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    25 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    10,000 visitors
                    <span class="text-xs font-LufgaRegular">/year</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-pansyPurple hover:text-pansyPurple hover:bg-transparent w-full bg-pansyPurple rounded-full mt-5 xl:mt-7"
            >
              Get Tiny
            </button>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-primary rounded-lg overflow-hidden flex flex-col lg:-mt-8"
          >
            <h5
              class="text-lg xl:text-xl text-white bg-primary text-center font-LufgaSemiBold py-3"
            >
              Most popular
            </h5>
            <div class="pt-[18px] px-4 xl:px-6 pb-5 flex flex-col h-full grow">
              <div class="grow">
                <div
                  class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
                >
                  <div>
                    <img
                      src="../assets/images/svg/solo-progress.svg"
                      alt="progress"
                    />
                    <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                      Solo
                    </h5>
                  </div>
                  <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                    $13<span class="text-sm xl:text-base font-LufgaRegular"
                      >per year</span
                    >
                  </h5>
                </div>
                <p class="text-prediction text-sm xl:text-base">
                  Billed $156 per year
                </p>
                <p
                  class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
                >
                  Great for individuals and small suites.
                </p>
                <div class="flex flex-col gap-2 xl:gap-4">
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      5 active project
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      75 mb file uploads
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      100,000 visitors
                      <span class="text-xs font-LufgaRegular">/year</span>
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Remove Tinny Host banner
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Custom domains
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Built - in analyics
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Edit mode
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Password protection
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-primary hover:bg-transparent hover:text-primary w-full bg-primary rounded-full mt-5 xl:mt-7"
              >
                Get Solo
              </button>
            </div>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/pro-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Pro
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $31<span class="text-sm xl:text-base font-LufgaRegular"
                    >per year</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $372 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                For freelancers, agencies & organizations.
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    12 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    10,000 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    500,000 visitors
                    <span class="text-xs font-LufgaRegular">/year</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Custom domains
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Edit mode
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Password protection
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Capture emails
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Add team members
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-lemonPoppy hover:text-lemonPoppy hover:bg-transparent w-full bg-lemonPoppy rounded-full mt-5 xl:mt-7"
            >
              Get Pro
            </button>
          </article>
        </div>
        <div
          class="sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-5 lg:gap-3 xl:gap-4 hidden"
          id="monthly-content"
        >
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/free-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Free
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $0<span class="text-sm xl:text-base font-LufgaRegular"
                    >per month</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $0 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                Perfect for college and Schools
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    1 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    15 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    2000 visitors
                    <span class="text-xs font-LufgaRegular">/month</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/free-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-secondary hover:text-secondary hover:bg-transparent w-full bg-secondary rounded-full mt-5 xl:mt-7"
            >
              Get Free
            </button>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/tiny-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Tiny
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $5<span class="text-sm xl:text-base font-LufgaRegular"
                    >per month</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $60 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                Perfect for single professional link.
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    1 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    25 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    10,000 visitors
                    <span class="text-xs font-LufgaRegular">/month</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img
                    src="../assets/images/svg/tiny-tick.svg"
                    alt="tick icon"
                  />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-pansyPurple hover:text-pansyPurple hover:bg-transparent w-full bg-pansyPurple rounded-full mt-5 xl:mt-7"
            >
              Get Tiny
            </button>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-primary rounded-lg overflow-hidden flex flex-col lg:-mt-8"
          >
            <h5
              class="text-lg xl:text-xl text-white bg-primary text-center font-LufgaSemiBold py-3"
            >
              Most popular
            </h5>
            <div class="pt-[18px] px-4 xl:px-6 pb-5 flex flex-col h-full grow">
              <div class="grow">
                <div
                  class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
                >
                  <div>
                    <img
                      src="../assets/images/svg/solo-progress.svg"
                      alt="progress"
                    />
                    <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                      Solo
                    </h5>
                  </div>
                  <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                    $13<span class="text-sm xl:text-base font-LufgaRegular"
                      >per month</span
                    >
                  </h5>
                </div>
                <p class="text-prediction text-sm xl:text-base">
                  Billed $156 per year
                </p>
                <p
                  class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
                >
                  Great for individuals and small suites.
                </p>
                <div class="flex flex-col gap-2 xl:gap-4">
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      5 active project
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      75 mb file uploads
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      100,000 visitors
                      <span class="text-xs font-LufgaRegular">/month</span>
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Remove Tinny Host banner
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Custom domains
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Built - in analyics
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Edit mode
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <img
                      src="../assets/images/svg/solo-tick.svg"
                      alt="tick icon"
                    />
                    <p
                      class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                    >
                      Password protection
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-primary hover:bg-transparent hover:text-primary w-full bg-primary rounded-full mt-5 xl:mt-7"
              >
                Get Solo
              </button>
            </div>
          </article>
          <article
            class="max-w-[350px] mx-auto sm:max-w-none w-full min-h-[580px] sm:min-h-[600px] xl:min-h-0 duration-300 hover:shadow-lg border border-lilacMist pt-6 xl:pt-10 px-4 xl:px-6 pb-5 rounded-lg flex flex-col"
          >
            <div class="grow">
              <div
                class="flex items-end justify-between mb-3 xl:mb-4 pb-3 xl:pb-4 border-b border-#0000001A"
              >
                <div>
                  <img
                    src="../assets/images/svg/pro-progress.svg"
                    alt="progress"
                  />
                  <h5 class="text-xl xl:text-2xl font-LufgaBold mt-[11px]">
                    Pro
                  </h5>
                </div>
                <h5 class="text-xl xl:text-2xl font-LufgaSemiBold">
                  $31<span class="text-sm xl:text-base font-LufgaRegular"
                    >per month</span
                  >
                </h5>
              </div>
              <p class="text-prediction text-sm xl:text-base">
                Billed $372 per year
              </p>
              <p
                class="text-pianoBlack text-sm xl:text-base font-LufgaMedium mt-1 xl:mt-2 mb-3 xl:mb-6 leading-[100%]"
              >
                For freelancers, agencies & organizations.
              </p>
              <div class="flex flex-col gap-2 xl:gap-4">
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    12 active project
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    10,000 mb file uploads
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    500,000 visitors
                    <span class="text-xs font-LufgaRegular">/month</span>
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Remove Tinny Host banner
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Custom domains
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Built - in analyics
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Edit mode
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Password protection
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Capture emails
                  </p>
                </div>
                <div class="flex items-center gap-2">
                  <img src="../assets/images/svg/pro-tick.svg" alt="tick icon" />
                  <p
                    class="text-darkGray text-sm xl:text-base font-LufgaMedium"
                  >
                    Add team members
                  </p>
                </div>
              </div>
            </div>
            <button
              class="text-base xl:text-lg font-LufgaBold text-white duration-300 py-2 xl:py-3 border border-lemonPoppy hover:text-lemonPoppy hover:bg-transparent w-full bg-lemonPoppy rounded-full mt-5 xl:mt-7"
            >
              Get Pro
            </button>
          </article>
        </div>
      </div>
      <script>
        // TOGGLE ACTIVE BUTTON STATE
        const monthlyButton = document.getElementById("monthly");
        const yearlyButton = document.getElementById("yearly");
        const monthlyContent = document.getElementById("monthly-content");
        const yearlyContent = document.getElementById("yearly-content");
  
        function toggleActiveButton(activeButton, inactiveButton) {
          activeButton.classList.replace("bg-transparent", "bg-primary");
          activeButton.classList.replace("text-black/80", "text-white");
          activeButton.classList.replace(
            "font-LufgaRegular",
            "font-LufgaSemiBold"
          );
  
          inactiveButton.classList.replace("bg-primary", "bg-transparent");
          inactiveButton.classList.replace("text-white", "text-black/80");
          inactiveButton.classList.replace(
            "font-LufgaSemiBold",
            "font-LufgaRegular"
          );
        }
  
        function toggleContent(activeContent, inactiveContent) {
          activeContent.classList.replace("hidden", "grid");
          inactiveContent.classList.replace("grid", "hidden");
          // activeContent.classList.remove("hidden");
          // inactiveContent.classList.add("hidden");
        }
  
        // INITIAL STATE: MONTHLY ACTIVE, YEARLY INACTIVE
        monthlyButton.addEventListener("click", function () {
          toggleActiveButton(this, yearlyButton);
          toggleContent(monthlyContent, yearlyContent);
        });
  
        yearlyButton.addEventListener("click", function () {
          toggleActiveButton(this, monthlyButton);
          toggleContent(yearlyContent, monthlyContent);
        });
      </script>
    </section>
  </body>
 </html>

