<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../output.css" />
  <link
    rel="shortcut icon"
    href="../assets/images/svg/solo-tick.svg"
    type="image/x-icon"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <title>Buddy Host</title>
</head>
  <body>
    <section
class="py-12 lg:py-20 bg-[url('./assets/images/png/publish-bg.png')] bg-cover bg-primary"
id="contact-us"
>
<div
  class="custom_container flex flex-col md:flex-row items-center justify-between gap-2 md:gap-0"
>
  <h2
    class="font-LufgaBold text-lightShadeGray text-4xl sm:text-[42px] lg:text-[52px] xl:text-[70px] leading-[100%] sm:leading-[115%] text-center md:text-start"
  >
    Publish to the web in seconds
  </h2>
  <div class="max-w-[487px] w-full">
    <p
      class="text-white font-LufgaMedium text-sm sm:text-base xl:text-lg tracking-[-0.5px] mb-3 lg:mb-5 text-center md:text-start"
    >
      Lorem ipsum dolor sit amet, adipiscing elit. Sed felis lorem,
      facilisis nec dictum eget, luctus odio. Sed felis lorem, dolor sit
      amet, adipiscing elit sit amet.
    </p>
    <div class="flex items-center flex-col sm:flex-row gap-3">
      <form
        class="p-[5px] ps-5 bg-white rounded-full flex items-center w-full"
      >
        <input
          required
          placeholder="Enter your work email"
          class="text-darkGray focus-visible:outline-0 text-sm w-full"
          type="email"
        />
        <button
          class="common-tag px-4 lg:px-6 sm:py-1.5 lg:py-[9px] border border-secondary hover:bg-white hover:text-secondary duration-300"
          type="submit"
        >
          Submit
        </button>
      </form>
      <button
        class="text-greenlandGreen px-4 lg:px-6 py-3 sm:py-2.5 lg:py-3 rounded-full bg-white tracking-[-0.5px] font-LufgaBold text-nowrap duration-300 border border-white hover:bg-greenlandGreen hover:text-white text-base sm:text-sm lg:text-base w-full sm:w-fit"
      >
        Upload for free
      </button>
    </div>
  </div>
</div>
</section>

  </body>
</html>

